@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
html {
    scroll-behavior: smooth;
}


.float-label-input:focus-within label,
.float-label-input input:not(:placeholder-shown) + label {
    transform: translateY(-1.5rem) scale(0.75) translateX(-0.5rem);
    background-color: white;
    color: #1fb6ff;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 3px gainsboro;
    border-radius: 4px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}

.swiper-button-prev {
    margin-left: -10px;
    user-select: none;
}
.swiper-button-next {
    margin-right: -10px;
    user-select: none;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 30px !important;
}

@media (max-width: 992px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }
}
/* Mobile-Specific Background Cropping */

@media (max-width: 768px) {
    .responsive-bg {
        background-size: 160%;
        /* background-position: center 40%; */
        background-position: calc(50% + 40px) center;
    }
}

/* Hide horizontal scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.custom-disc li::marker {
    font-size: 1.5rem; /* Increase size */
    color: black; /* Optional: Change color */
}

/* Hide scrollbar only on mobile but keep scrolling */
@media (max-width: 767px) {
    .hide-scrollbar-mobile {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        overflow-y: scroll; /* keep scrolling */
    }

    .hide-scrollbar-mobile::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}
